@charset "UTF-8";

/* 
    em HTML é id, em CS é # (em CSS eu poderia suprimir o h1 e deixar só #principal)
    em HTML é class em CSS é . (em CSS eu poderia suprimir o h2 e deixar só .basico
*/

body{
    background-color: #CADABC;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #597346;
}

/*Seletor personalizado*/
h1#principal{
    background-color: #223104;
    text-align: center;
    color: white;
}

h2{
    color: #75925A;
}

.basico{
    color: #75925A;
    font-weight: bolder;
    font-style: italic;
}

.intermediario{
    color: #92915a;
    text-decoration: underline;
}

.avancado{
    color: #925a5a;
}

.destaque{
    background-color: rgba(228, 228, 30, 0.637);
}